param(
    [Alias("u")]
    [string]$User = "root",

    [Alias("p")]
    [string]$Password = $null,

    [string]$Version = "##VERSION##",

    [int]$Port = 3306
)

$CMD = @("mariadb.exe", "--port=$Port")

if ($User -ne "") {
    $CMD += "-u"
    $CMD += $User
}

if ($PSBoundParameters.ContainsKey('Password')) {
    if ($Password -eq "") {
        $CMD += "-p"
    } else {
        $CMD += "-p$Password"
    }
}

Write-Host "Executing: $($CMD -join ' ')"
& $CMD[0] $CMD[1..($CMD.Count - 1)]
